In [304]:
import pandas as pd

In [305]:
df = pd.read_csv("raw_data.csv",names=["combined_a"], header=None)

In [306]:
df

                                             combined_a
0      order_id | order_status    | customer        ...
1     +----------+-----------------+----------------...
2     |        3 | Order Finished  | Muhammed MacInt...
3     |      293 | Order Finished  | Barry French   ...
4     |      483 | Order Finished  | Clay Rozendal  ...
...                                                 ...
5497  |    52706 | Order Finished  | Paul Prost     ...
5498  |    54279 | Order Finished  | Lisa DeCherney ...
5499  |    55558 | Order Finished  | Philip Brown   ...
5500  |    56581 | Order Finished  | Lisa DeCherney ...
5501  +----------+-----------------+----------------...

[5502 rows x 1 columns]

In [307]:
df = df['combined_a'].str.split("|",expand=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,,None
1,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None,None
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization,
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances,
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication,
...,...,...,...,...,...,...,...,...,...,...,...,...
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories,
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines,
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases,
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings,
5501,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None,None

In [308]:
df = df.drop(11,axis=1)
df

,0,1,2,3,4,5,6,7,8,9,10
0,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,
1,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
...,...,...,...,...,...,...,...,...,...,...,...
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings
5501,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None

In [309]:
new_col = list(filter(lambda x : x != "",list(df.iloc[0].str.strip())))
new_df = pd.DataFrame(columns=new_col)
new_df

Empty DataFrame
Columns: [order_id, order_status, customer, order_date, order_quantity, sales, discount, discount_value, product_category, product_sub_category]
Index: []

In [310]:
drop_rows = [0,1,len(df) - 1]
df = df.drop(drop_rows, axis = 0)
df

,0,1,2,3,4,5,6,7,8,9,10
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
5,,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
6,,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...,...
5496,,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

In [311]:
df = df.drop(0,axis = 1)
df

,1,2,3,4,5,6,7,8,9,10
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
5,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5497,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

In [312]:
col_len = len(new_df.columns)

for i in range(col_len):
    new_df.iloc[:,i] = df.iloc[:,[i]]
    new_df

In [313]:
new_df['sales'] = new_df['sales'].astype(int)

In [314]:
new_df['new_discount'] = new_df['discount'].astype(float) * 100
new_df['discount'] = new_df['new_discount'].astype('int16')
new_df = new_df.drop("new_discount",axis=1)

In [315]:
new_df['order_quantity'] = new_df['order_quantity'].astype('int16')

In [316]:
new_df['order_date'] = pd.to_datetime(new_df['order_date'])

In [317]:
new_df['order_date'].dt.year
new_df['order_date'].dt.day
new_df['order_date'].dt.month
new_df['order_date'].dt.hour
new_df['order_date'].dt.day_name()

2       Wednesday
3          Monday
4          Sunday
5        Saturday
6          Friday
          ...
5496       Friday
5497       Monday
5498     Saturday
5499       Monday
5500       Sunday
Name: order_date, Length: 5499, dtype: object

In [318]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5499 entries, 2 to 5500
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              5499 non-null   object
 1   order_status          5499 non-null   object
 2   customer              5499 non-null   object
 3   order_date            5499 non-null   datetime64[ns]
 4   order_quantity        5499 non-null   int16
 5   sales                 5499 non-null   int64
 6   discount              5499 non-null   int16
 7   discount_value        5499 non-null   object
 8   product_category      5499 non-null   object
 9   product_sub_category  5499 non-null   object
dtypes: datetime64[ns](1), int16(2), int64(1), object(6)
memory usage: 408.1+ KB