In [286]:
import pandas as pd

In [287]:
df = pd.read_csv("raw_data.csv",names=["combined_a"], header=None)

In [288]:
df

                                             combined_a
0      order_id | order_status    | customer        ...
1     +----------+-----------------+----------------...
2     |        3 | Order Finished  | Muhammed MacInt...
3     |      293 | Order Finished  | Barry French   ...
4     |      483 | Order Finished  | Clay Rozendal  ...
...                                                 ...
5497  |    52706 | Order Finished  | Paul Prost     ...
5498  |    54279 | Order Finished  | Lisa DeCherney ...
5499  |    55558 | Order Finished  | Philip Brown   ...
5500  |    56581 | Order Finished  | Lisa DeCherney ...
5501  +----------+-----------------+----------------...

[5502 rows x 1 columns]

In [289]:
df = df['combined_a'].str.split("|",expand=True)

In [290]:
df = df.drop(11,axis=1)

In [291]:
new_col = list(filter(lambda x : x != "",list(df.iloc[0].str.strip())))
new_df = pd.DataFrame(columns=new_col)
new_df

Empty DataFrame
Columns: [order_id, order_status, customer, order_date, order_quantity, sales, discount, discount_value, product_category, product_sub_category]
Index: []

In [292]:
drop_rows = [0,1,len(df) - 1]
df = df.drop(drop_rows, axis = 0)

In [293]:
df = df.drop(0,axis = 1)

In [294]:
col_len = len(new_df.columns)

for i in range(col_len):
    new_df.iloc[:,i] = df.iloc[:,[i]]

In [295]:
new_df['sales'] = new_df['sales'].astype(int)

In [296]:
new_df['new_discount'] = new_df['discount'].astype(float) * 100
new_df['discount'] = new_df['new_discount'].astype('int16')
new_df = new_df.drop("new_discount",axis=1)

In [297]:
new_df['order_quantity'] = new_df['order_quantity'].astype('int16')

In [298]:
new_df['order_date'] = pd.to_datetime(new_df['order_date'])

In [299]:
new_df['order_date'].dt.year
new_df['order_date'].dt.day
new_df['order_date'].dt.month
new_df['order_date'].dt.hour
new_df['order_date'].dt.day_name()

2       Wednesday
3          Monday
4          Sunday
5        Saturday
6          Friday
          ...
5496       Friday
5497       Monday
5498     Saturday
5499       Monday
5500       Sunday
Name: order_date, Length: 5499, dtype: object

In [300]:
new_df.to_excel('output.xlsx', index=False)